body {
    font-family: 'Poppins', sans-serif;
}

.top-section {
    display: flex;
    margin: 0% 5%;
}

.top-style {
    font-family: 'Yeseva One', cursive;
    font-size: 45px;
    font-weight: 500;
    border-left: solid 4px;
    border-color: tomato;
    padding-left: 7px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    margin: 5%;
}

.half-width img {
    width: 55%;
    padding-left: 5%;
}

.button-link {
    display: inline-block;
    margin: 10px 0px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    background: tomato;
    padding: 8px 25px;
    border-radius: 5px;
}

.upper-section {
    margin: 0% 7%;
    display: flex;
}

.upper-header {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.one-third-width {
    width: 30%;
    margin: 0% 2%;
    border-radius: 15px;
}

.one-third-width img {
    width: 40%;
    padding: 5% 5% 0% 5%;
}

.one-third-width h3,p {
    padding: 0% 10%;
    margin-top: -1%;
}

#upper-first {
    background-color: rgb(207, 226, 243);
}

#upper-second {
    background-color: rgb(233, 211, 220);
}

#upper-third {
    background-color: rgb(235, 231, 200);
}